.modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.modal-content {
    background-color: var(--color-body);
    padding: 24px;
    border-radius: 8px;
    width: 30%;
    max-width: 90%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    top: 35%;
    left: 35%;
    position: relative;
}

.close-button {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
}

.confirmAlter {
    padding: 10px 20px;
    background-color: var(--color-purple);
    color: var(--color-text);
    border: 1px solid var(--color-purple);
    border-radius: 7px;
    cursor: pointer;
    transition: 0.5s;
    margin: 40px 0 0;
}

.confirmAlter:hover {
    background-color: var(--color-text);
    color: var(--color-purple);
}